<div class="all">
<p>This is a test form!</p>

  <form @submit.prevent="submit()">
    <label>Name
      <input v-model="name" :class='map("error", v.f("name").invalid && v.f("name").dirty)' placeholder="Name (required validation)" >
    </label>
    
    <label>Email
      <input v-model="email" :class='map("error", v.f("email").invalid)' placeholder="Email (email validation)" >
    </label>
  
    <p>Name: [{{ name }}] -> {{ v.f("name").invalid ? "invalid" : "valid" }}</p>
    <p>Email: [{{ email }}] -> {{ v.f("email").invalid ? "invalid" : "valid" }}</p>
      
    <pre class="result" :class='map("error", v.invalid)'>Form valid: {{ !v.invalid }}</pre>
    
    <input type="submit">
    <p>Submitted: {{ submitted }}</p>
  </form>
</div>

<style scoped>
.all {
  width: 400px;
}

.error {
  background: #a00 !important;
}

.result {
  background: #0a0;
  color: white;
  transition: background 0.1s ease-out;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  padding: 10px;
}
form > * > * {
  padding: 5px;
  margin: 5px;
}
</style>